body {
  /* 글자크기 14px, 행간비율 1.5배 */
  font: 87.5%/1.5 "Spoqa Han Sans", Dotum, Sans-Serif;
  /* 포토샵 트래킹 설정 값: -10 */
  letter-spacing: -0.01em;
  /* 글자 색상 */
  color: #000;
}

p {
  margin-top: 0;
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
  color: #717171;
}

h2, .h2 {
  margin-top: 0;
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-size: 32px;
  font-size: 2rem;
}